@model ConcertTicketSystem.DAL.Entity.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está usted seguro de eliminar esta boleta?</h3>
<div>

    <div>
        <partial name="../Shared/PartialViews/_TicketsDetailsDelete.cshtml" />
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar boleta" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-success">Regresar al registro</a>
    </form>
</div>
