@model ConcertTicketSystem.DAL.Entity.Ticket

@{
    ViewData["Title"] = "Details";
}

<div>
    <partial name="../Shared/PartialViews/_TicketsDetailsDelete.cshtml" />
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar Boleta</a> |
    <a asp-action="Index" class="btn btn-outline-success">Regresar al registro</a>
</div>
